@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.section-one {
    font-family:'Roboto',sans-serif;
    background-color:#1F2937;
}

#header-logo{
    font-size: 24px;
    color:#F9FAF8;
}
.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
}
.contents{
    display:flex;
    flex-direction: row;
    margin: 50px;
}
.contents-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}
.contents-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 200px;
    
}
img{
    margin-bottom: 50px;
}

.para-first{
    font-size: 18px;
    color:#E5E7EB;
    

}
.first-button{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 35px;
    border: 1 px #3882F6;
    border-radius: 10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.row-blue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.blue-boxes{
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para-second{
    text-align: center;
    font-size: 18px;
}

.section-three{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.para-third{
    font-size: 18px;
    text-align: end;
    font-weight: bold;
}

#p-div{
    display:flex;
    justify-content: flex-end;
    margin-right: 300px;
}

.section-four{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    background-color: #3882F6;
    width:75%;
    height: 40%;
    display: flex;
    flex-direction: row;
}
.left-contain{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h4{
    font-size: 24px;
    color:white;
}

.para-fourth{
    color: white;
    font-size: 18px;
}

.right-contain{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.last-button{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 3px solid white;
    border-radius: 10px;
}
